.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* gap: 8px; */
  margin: 0;
  height: 100vh;
}
.items {
  height: 100px;
  padding: 20px;
  margin: 0px;
  border: 5px solid transparent;
  background-color: white;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  text-wrap: wrap;
}

.image-holder {
  justify-content: space-between;
  align-items: center;
  height: 300px;
  display: flex;
  flex: 1;
  background-color: gray;
}
.text-content {
  max-width: 600px;
  flex: 1;
}

.text-content h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 20px;
}

.text-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  background-color: #3882f6;
}

.section1 {
  background-color: #1f2937;
}
